.banner {
  width: 100%;
  background: url("https://demo.themeies.com/silon/images/bg-1.jpg");
  display: flex;
  justify-content: right;
  background-size: cover;
  flex-wrap: wrap-reverse;

  h2 {
    margin-bottom: 15px;
    font-weight: 500;
    line-height: 0.8;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    font-size: 14px;
    color: #565656;
  }

  h1 {
    font-size: 52px;
    font-weight: 500;
    line-height: 70px;
    margin-bottom: 45px;
  }

  button {
    border-radius: 3px;
    color: red;
    text-transform: uppercase;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 0.8;
    min-width: 170px;
    padding: 20px 25px;
    border-style: none;
  }
  button:hover {
    background-color: white;
    color: #007bff;
  }
}
.list {
  //   border: #007bff 2px solid;
  max-width: 475px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  text-align: center;
}

img {
  height: auto;
  width: 100%;
}

.h2 {
  font-size: 40px;
  line-height: 56px;
  margin-bottom: 35px;
}

.list h2 {
  padding: 20px;
}

.list button {
  background-color: #ff5353;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  width: auto;
}
.H1 {
  height: 123.19px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  text-align: center;
}

.H1 span {
  font-size: 40px;
}
