.top-bar {
  height: 48px;
  width: 100;
  background-color: #fef7f6;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 11px;
  font-weight: 300;
  font-family: sans-serif;
}
.contact span:first-child {
  padding-left: 10px;
}

// .info span {
//   text-align: center;
//   padding-right: 60px;
// }

.container {
  height: 90.39px;
  width: 100;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.menu {
  font-family: sans-serif;
  font-size: 13px;
  display: none;
  gap: 30px;
  font-weight: 700;
  flex-direction: row;
  list-style: none;

  a {
    color: black;
    text-decoration: none;
  }
  a:hover {
    color: #ff5353;
  }
}

.dropdown {
  position: relative;
}
.dropdown ul {
  position: absolute;
  list-style: none;
  text-decoration: none;
  width: 180px;
  display: none;
  left: 0;
  top: 100%;
  text-align: left;
}
.dropdown ul li a {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0px;
  font-size: 13px;
  font-weight: 700;
  line-height: 0.8;
}

.dropdown:hover ul {
  display: block;
  background-color: white;
}

.shopping span {
  text-align: right;
  padding-right: 15px;
  font-size: 13px;
  font-weight: 600;
  list-style: none;
  cursor: pointer;
}

.icon-container {
  font-size: 18px;
  display: flex;
  flex-direction: row;
}

.card-bag-icon {
  position: relative;
  padding: 10px;
}

.circle {
  position: absolute;
  background-color: #ff5353;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  top: 0;
  right: 0;
  color: #fff;
  font-size: 8px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
}
.square {
  background-color: red;
  color: white;
  font-size: 10px;
  font-weight: bold;
  position: relative;
  top: -15px;
  border: 5px solid red;
  border-radius: 15px;
}
.logo {
  display: flex;
  justify-content: center;
}
