@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    margin: 0;
   }
   *{box-sizing: border-box;}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}
.header{
    display: none;
}
.top-bar {
    height: 48px;
    width: 100;
    background-color: #fef7f6;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    font-family:sans-serif;
}


.contact span:first-child {
    padding-right: 15px;


}

.info span {
    text-align: right;
    padding-right: 15px;
}

.container {
    height: 90.39px;
    width: 100;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menu{
    font-family:sans-serif;
    font-size: 13px;
    display: none;
    gap: 30px;
    font-weight: 700;
    flex-direction: row;
    list-style: none;
   
    a {
    color: black;
    text-decoration: none;

   }


}

.menu a:hover {
   
        color: #ff5353

    
}
.dropdown {
    position: relative;

}
.dropdown ul {
    position: absolute;
    list-style: none;
    text-decoration: none;
    width: 180px;
    display: none;
    left: 0;
    top: 100%;
    text-align: left;
   
   

    
}
.dropdown ul li a {
    display:block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    font-size: 13px;
    font-weight: 700;
    line-height: 0.8;

}

.dropdown:hover ul {
    display: block;
    background-color: white;
}



.shopping span {
    text-align: right;
    padding-right: 15px;
    font-size: 13px;
    font-weight: 600;
    list-style: none;
    cursor: pointer;
}

.icon-container {
    font-size: 18px;
    display: flex;
    flex-direction: row;

}

.card-bag-icon {
    position: relative;
    padding: 10px;

}

.circle {
    position: absolute;
    background-color: #ff5353;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    top: 0;
    right: 0;
    color: #fff;
    font-size: 8px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
}

.square {
    background-color: red;
    color: white;
    font-size: 10px;
    font-weight: bold;
    position: relative;
    top: -15px;
    border: 5px solid red;
    border-radius: 15px;
}

.banner {
    // height: 560px;
    width: 100%;
    background: url('https://demo.themeies.com/silon/images/bg-1.jpg');
    display: flex;
    justify-content: center;
    
    background-size: cover;
    flex-wrap: wrap-reverse;

    h2 {
        // display: block;
        margin-bottom: 15px;
        font-weight: 550;
        line-height: 0.8;
        letter-spacing: 2.8px;
        text-transform: uppercase;
        font-size: 14px;
        color: #565656;
        
    }

    h1 {
        font-size: 52px;
        font-weight: 500;
        line-height: 70px;
        margin-bottom: 45px;
        
    }

    button {
        background-color: #ff5353;
        border-radius: 3px;
        color: #fff;
        text-transform: uppercase;
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
        line-height: 0.8;
        min-width: 170px;
        padding: 20px 25px;
        border-style: none;
        
    }
    button:hover {
        background-color: white;
        color:red;
    }

}
.list {
    max-width: 475px;
    width: 100%;
}

img {
    height: auto;
    width: 100%;
   }


.h2 {
    font-size: 40px;
    line-height: 56px;
    margin-bottom: 35px;
}

.products {
    position: relative;
}

.products img {
    display: block;

}



.action-links {
    bottom: 60px;
    position: absolute;
    width: 160px;
    // left: 30%;
    bottom: 10px;
    left: calc(50% - 70px);
    visibility: hidden;
    opacity: 1;
    z-index: 10;
    transition: all 300ms ease-in-out;

    a {
        line-height: 50px;
    }
}

.product-image {
    position: relative;
}

.product > div:hover .action-links {
    visibility: visible;
    opacity: 1;
    color: red;

    .ti-eye {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background: white;
        font-size: 14px;
        display: inline-block;
        text-align: center;
    }

    .ti-heart {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background: white;
        font-size: 14px;
        display: inline-block;
        text-align: center;

    }

    .ti-heart:before {
        content: "\e634";
    }

    *,
    ::after,
    ::before {
        box-sizing: border-box;
    }

    .ti-search {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background: white;
        font-size: 14px;
        display: inline-block;
        text-align: center;

    }
}
.ti-star {
    
    color: #ff5353
}

.list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-end;
    text-align: center;

}

.list h2 {
    padding: 20px;
}

.list button {
    background-color: rgb(224, 105, 105);
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    width:200px ;
}


.H1 {
    height: 123.19px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    text-align: center;

}

.H1 span {
    font-size: 40px;
}

.feat {
    
    margin: 0 auto;
    background-color: #fff;
    display :flex;
    align-items: center;
    justify-content: space-around;
    // gap:100px;
    flex-wrap: wrap;
    flex-direction: column;

}
.product-info {
    // padding-left: 80px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;

}
h5 a {
    text-decoration: none;
    color:#888;
    text-align: center;
   
}
h5 a:hover {
    color:red;
}


.footer {
    // height: 300px;
    background-color: #e9e2d8;
    display: flex;
    // align-items: flex-start;
    justify-content: space-around;
    padding-top: 70px;
    padding-bottom: 50px;
    flex-direction: column;
  
}

.us li {
    list-style: none;
}

.links li {
    list-style: none;
}

.online li {
    list-style: none;
}

.experience {
    cursor: pointer;
}
.footer ul li {
    font-size: 14px;
    color: #888;
    line-height: 30px;
}
.footer h1{
    color: #000;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.MOBILE {
    margin: 0%;
    padding-left: 20px;
}

.app-btn {
    align-items: center;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-around;
    margin-bottom: 20px;
    padding-bottom: 30px;
}
.social-media {
    justify-content: space-between;
 
    line-height: 32px;
    text-align: center;
   
    display: flex;
    max-width: 60%;
}
.social-media a{
    display: inline-block;
    font-size: 14px;
    color: #000;
    background: white;
    padding-right: 10px;
    padding-left: 10px;
    width: 30px;
}
.app-btn a {
 
    padding: 12px 10px;
    border-radius: 5px;
    background-color: #fff;
    position: relative;
    padding-left: 35px;
}
a {
    text-decoration: none;
}
a.app-store {
    background-color: #ff5353;
}
.app-btn a p {
    margin-bottom: 0;
    color: #000;
    font-size: 13px;
    font-weight: 500;
    line-height: .8;
    text-transform: uppercase;
  }
  
  .app-btn a p span {
    display: block;
    font-size: 10px;
    font-weight: 400;
    color: #4a4a4a;
    line-height: .8;
    margin-bottom: 5px;
  }
  
  .app-btn a:hover, .app-btn a.app-store {
    background-color: #ff5353;
  }
  
  .app-btn a:hover p, .app-btn a:hover span, .app-btn a:hover i, .app-btn a.app-store p, .app-btn a.app-store span, .app-btn a.app-store i {
    color: #fff;
  }
  .footer .widget .widget-title {
    margin-bottom: 25px;
  }
  .footer .widget .widget-social {
    margin-bottom: 25px;
  }
  .ti-android {
    color: red;

  }
  .app-btn a i {
    font-size: 20px;
    margin-right: 5px;
    position: absolute;
    left: 7px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .social-media a:not(:last-child) {
    margin-right: 10px;
}
.container2 {
    background-color: #e9e2d8;
    color: #888;
    padding: 20px;
    text-align: center;
    margin-bottom: 0;
}
.container2 a{
    color: red;
}
.copyright {
    font-size: 15px;
}

@media screen and (min-width:768px){
    .menu {
        display: flex;
        flex-direction: row;
    }
    .banner img{
        height: 100%;
        width: auto;
        display: block;
    }
    .banner {
        flex-direction: row;
        flex-wrap: nowrap;
        height: 560px;
    }
    .footer {
        flex-direction: row;
    }
    .feat {
        flex-direction: row;
        flex-wrap: nowrap;
        
    }
    .products {
       width: 20%;
    }
    .header {
        display: block;
    }
}  
  
