@media screen and (min-width: 576px) {
  .menu {
    display: flex;
    flex-direction: row;
  }
  .banner img {
    height: 100%;
    width: auto;
    display: block;
  }
  .banner {
    flex-direction: row;
    flex-wrap: nowrap;
    height: 560px;
  }
  .footer {
    flex-direction: row;
  }
  .feat {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .products {
    width: 20%;
  }
  .header {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    flex-direction: row;
  }
  .banner img {
    height: 100%;
    width: auto;
    display: block;
  }
  .banner {
    flex-direction: row;
    flex-wrap: nowrap;
    height: 548px;
  }
  .footer {
    flex-direction: row;
  }
  .feat {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .products {
    width: 20%;
  }
  .header {
    display: block;
  }
}
@media screen and (min-width: 991px) {
  .menu {
    display: flex;
    flex-direction: row;
  }
  .list {
    height: 100%;
    width: 90%;
    display: block;
    display: flex;
    justify-content: center;
  }
  .banner img {
    height: 100%;
    width: auto;
    display: block;
  }
  .banner {
    flex-direction: row;
    flex-wrap: nowrap;
    height: 528px;
  }
  .footer {
    flex-direction: row;
  }
  .feat {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .products {
    width: 15%;
    flex-basis: 50%;
  }
  .header {
    display: block;
  }
  .products img {
    width: auto;
  }
}
